/* special font for headers */
@font-face {
    font-family: 'latolight';
    src: url('../../../../Content/_shared/fonts/lato/lato-lig-webfont.eot');
    src: url('../../../../Content/_shared/fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../Content/_shared/fonts/lato/lato-lig-webfont.woff') format('woff'), url('../../../../Content/_shared/fonts/lato/lato-lig-webfont.ttf') format('truetype'), url('../../../../Content/_shared/fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../../../../Content/_shared/fonts/lato/lato-reg-webfont.eot');
    src: url('../../../../Content/_shared/fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../Content/_shared/fonts/lato/lato-reg-webfont.woff') format('woff'), url('../../../../Content/_shared/fonts/lato/lato-reg-webfont.ttf') format('truetype'), url('../../../../Content/_shared/fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../../../../Content/_shared/fonts/lato/lato-bol-webfont.eot');
    src: url('../../../../Content/_shared/fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../Content/_shared/fonts/lato/lato-bol-webfont.woff') format('woff'), url('../../../../Content/_shared/fonts/lato/lato-bol-webfont.ttf') format('truetype'), url('../../../../Content/_shared/fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockwell';
    src: url('../../../../Content/_shared/fonts/rockwell/rockwell.eot');
    src: url('../../../../Content/_shared/fonts/rockwell/rockwell.eot?#iefix') format('embedded-opentype'), url('../../../../Content/_shared/fonts/rockwell/rockwell.woff') format('woff'), url('../../../../Content/_shared/fonts/rockwell/rockwell.ttf') format('truetype'), url('../../../../Content/_shared/fonts/rockwell/rockwell.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../../../../Content/_shared/fonts/montserrat/Montserrat-Light.ttf');
    src: url('../../../../Content/_shared/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../../../../Content/_shared/fonts/montserrat/Montserrat-Regular.ttf');
    src: url('../../../../Content/_shared/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../../../../Content/_shared/fonts/montserrat/Montserrat-Bold.ttf');
    src: url('../../../../Content/_shared/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuilight';
    src: url('../../../../Content/_shared/fonts/segoeui/segoeuil.ttf');
    src: url('../../../../Content/_shared/fonts/segoeui/segoeuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuiregular';
    src: url('../../../../Content/_shared/fonts/segoeui/segoeui.ttf');
    src: url('../../../../Content/_shared/fonts/segoeui/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeuibold';
    src: url('../../../../Content/_shared/fonts/segoeui/segoeuib.ttf');
    src: url('../../../../Content/_shared/fonts/segoeui/segoeuib.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../../../../Content/_shared/fonts/roboto/Roboto-Regular.ttf');
    src: url('../../../../Content/_shared/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../../../../Content/_shared/fonts/roboto/Roboto-Bold.ttf');
    src: url('../../../../Content/_shared/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../../../../Content/_shared/fonts/roboto/Roboto-Light.ttf');
    src: url('../../../../Content/_shared/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}